## CGL2 in Harmony genes

In [4]:
from tqdm import tqdm
import torch
import random
import numpy as np
import pandas as pd
import collections
import anndata
from anndata import read_h5ad
import scanpy as sc
from sklearn.preprocessing import MinMaxScaler

In [5]:
exp = pd.read_csv("./0.input_data/CGL2_data/CGL2_harmony_matrix_1971.csv")
metadata = pd.read_csv("./0.input_data/CGL2_data/CGL2_metadata.csv")
#exp = exp.drop(exp.columns[0],axis=1)

In [7]:
gene = pd.read_csv("./0.input_data/CGL2_data/CGL2_harmony_genes_1971.csv")
print(gene.shape)

(1971, 1)

In [8]:
symbol = list(gene['x'])
exp.index = symbol

symbol = list(metadata['Scaden results'])
metadata.index = symbol
#exp = exp.T

In [10]:
# log 2 transfromation
#genes_ID x sample
total_set = np.log2(exp+1)
total_set

,C1,C2,C3,C4,C5,C6,C7,P1,P2,P3,P4,P5,P6,P7
IL17F,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
ACKR1,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
AADAC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
SMLR1,1.584963,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,2.807355,0.0,1.584963,2.000000
CGA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YWHAZP6,0.000000,0.000000,0.000000,0.000000,1.584963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,2.000000
HOXA6,0.000000,0.000000,0.000000,0.000000,0.000000,1.584963,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,0.000000,0.000000
CBX1P1,0.000000,1.584963,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000
CT45A11P,1.584963,1.584963,2.584963,2.000000,2.584963,2.584963,1.584963,2.321928,2.000000,2.321928,2.321928,2.0,2.584963,2.321928
HIGD1AP16,3.807355,4.247928,2.000000,4.392317,2.000000,2.321928,2.807355,2.584963,2.807355,2.321928,3.906891,2.0,2.321928,2.000000

In [11]:
# 對每個細胞進行 min max scaler
scaler = MinMaxScaler(feature_range=(0, 1))
total_set = scaler.fit_transform(total_set)
total_set = total_set.T
total_set.shape

(14, 1971)

In [12]:
adata = sc.AnnData(X = total_set, obs = metadata, dtype = 'float32')
adata

AnnData object with n_obs × n_vars = 14 × 1971
    obs: 'Scaden results', 'CD8+/CD45RA+ Naive Cytotoxic T Cells', 'CD14_Monocytes', 'CD4+/CD45RA+/CD25-Naive T cells', 'CD4+/CD45RO+ Memory T Cells', 'CD56+ Natural Killer Cells', 'CD4+/CD25+ Regulatory T Cells_and_CD4+ T Helper Cells', 'CD19_B_Cells', 'CD8+ Cytotoxic T cells'

In [13]:
adata.write('./0902_CGL2_harmony.h5ad')

... storing 'CD8+/CD45RA+ Naive Cytotoxic T Cells' as categorical
... storing 'CD4+/CD45RO+ Memory T Cells' as categorical
... storing 'CD56+ Natural Killer Cells' as categorical
... storing 'CD4+/CD25+ Regulatory T Cells_and_CD4+ T Helper Cells' as categorical
... storing 'CD19_B_Cells' as categorical
... storing 'CD8+ Cytotoxic T cells' as categorical

## CGL2 in SCT genes

In [14]:
exp = pd.read_csv("./0.input_data/CGL2_data/CGL2_SCT_matrix_2870.csv")
metadata = pd.read_csv("./0.input_data/CGL2_data/CGL2_metadata.csv")
#exp = exp.drop(exp.columns[0],axis=1)

In [15]:
gene = pd.read_csv("./0.input_data/CGL2_data/CGL2_SCT_genes_2870.csv")
print(gene.shape)

(2870, 1)

In [16]:
symbol = list(gene['x'])
exp.index = symbol

symbol = list(metadata['Scaden results'])
metadata.index = symbol
#exp = exp.T

In [17]:
# log 2 transfromation
#genes_ID x sample
total_set = np.log2(exp+1)
total_set

,C1,C2,C3,C4,C5,C6,C7,P1,P2,P3,P4,P5,P6,P7
AGRN,5.700440,5.700440,4.807355,5.129283,4.754888,5.247928,5.700440,5.614710,4.807355,5.000000,6.087463,5.977280,4.321928,4.857981
C1orf159,6.149747,6.584963,6.832890,6.569856,6.794416,6.794416,6.882643,6.781360,6.727920,6.569856,6.357552,6.375039,6.169925,6.209453
TAS1R3,4.087463,4.392317,4.087463,5.169925,3.459432,4.459432,4.000000,5.000000,3.000000,4.392317,4.523562,3.807355,4.000000,4.169925
DVL1,7.781360,7.622052,8.442943,8.344296,8.592457,8.348728,8.562242,8.511753,8.209453,8.535275,7.748193,8.199672,8.108524,8.442943
MXRA8,4.169925,5.672425,4.169925,5.832890,5.930737,5.426265,5.087463,4.321928,3.169925,4.700440,4.087463,4.643856,4.700440,5.169925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DKK1,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ABCC9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
SERTM1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
SYT4,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
KLK5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [18]:
# 對每個細胞進行 min max scaler
scaler = MinMaxScaler(feature_range=(0, 1))
total_set = scaler.fit_transform(total_set)
total_set = total_set.T
total_set.shape

(14, 2870)

In [19]:
adata = sc.AnnData(X = total_set, obs = metadata, dtype = 'float32')
adata

AnnData object with n_obs × n_vars = 14 × 2870
    obs: 'Scaden results', 'CD8+/CD45RA+ Naive Cytotoxic T Cells', 'CD14_Monocytes', 'CD4+/CD45RA+/CD25-Naive T cells', 'CD4+/CD45RO+ Memory T Cells', 'CD56+ Natural Killer Cells', 'CD4+/CD25+ Regulatory T Cells_and_CD4+ T Helper Cells', 'CD19_B_Cells', 'CD8+ Cytotoxic T cells'

In [20]:
adata.write('./0902_CGL2_SCT.h5ad')

... storing 'CD8+/CD45RA+ Naive Cytotoxic T Cells' as categorical
... storing 'CD4+/CD45RO+ Memory T Cells' as categorical
... storing 'CD56+ Natural Killer Cells' as categorical
... storing 'CD4+/CD25+ Regulatory T Cells_and_CD4+ T Helper Cells' as categorical
... storing 'CD19_B_Cells' as categorical
... storing 'CD8+ Cytotoxic T cells' as categorical